
.example-spacer {
    flex: 1 1 auto;
  }

  .position-fixed {
    position: fixed;
    z-index: 999;
}

.position-hidden {
  visibility: hidden;
}

.logo-style {
  // width: 100px;
    height: 45px;
}